body {

  height: 100vh;
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}
#name{
color: #ffffff;
text-transform: uppercase;
font-size: 76px;
color: #ffffff;
 font-family: 'Merienda';
text-shadow: 2px 7px 5px rgba(2, 81, 251, 0.932), 
    0px -4px 10px rgb(20, 155, 222);

}
#intro{
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#div01{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

#switch{
  height: 0;
  width: 0;
  visibility: hidden;
}

.toogle {
  cursor: pointer;
  width: 200px;
  height: 100px;
  background-color: #55efc4;
  /* background-color #55efc4; */
background-image: linear-gradient(315deg, #55efc4 0%, #000000 74%);

  display: block;
  border-radius: 100px;
  position: relative;
  border: 5px solid salmon;
}

.toogle::after{
  content: '';
  font-size: 22px;
  /* top: 50%;
  left: 50%; */
  text-align: center;
  /* padding-top: 50px; */
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
/* background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%); */
  border-radius: 90px;
  transition: 0.2s;
}

input:checked + label {
  /* background: #0d00ff; */
  background-color: #d2a813;
background-image: linear-gradient(315deg, #d2a813 0%, #000000 74%);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 10px;
}

